%ul.notification-body
  %li
    %span.unread
      %a.msg{:href => "javascript:void(0);"}
        = image_tag 'avatars/4.png', alt: '', class: 'air air-top-left margin-top-5', width: '40', height: '40'
        %span.from
          John Doe
          %i.icon-paperclip
        %time 2 minutes ago
        %span.subject Msed quia non numquam eius modi tempora
        %span.msg-body Hello again and thanks for being a part of the newsletter.
  %li
    %span
      %a.msg{:href => "javascript:void(0);"}
        = image_tag 'avatars/female.png', alt: '', class: 'air air-top-left margin-top-5', width: '40', height: '40'
        %span.from Sonya Birthday
        %time Thursday, September 19th
        %span.subject Incidunt ut labor
        %span.msg-body sed quia non numquam eius modi tempora incidunt ut labor
  %li
    %span
      %a.msg{:href => "javascript:void(0);"}
        = image_tag 'avatars/1.png', alt: '', class: 'air air-top-left margin-top-5', width: '40', height: '40'
        %span.from Cristina Algera
        %time Sunday, September 15th
        %span.subject Best-Selling Teethers
        %span.msg-body ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
  %li
    %span
      %a.msg{:href => "javascript:void(0);"}
        = image_tag 'avatars/male.png', alt: '', class: 'air air-top-left margin-top-5', width: '40', height: '40'
        %span.from Lam Tampora
        %time Saturday, September 14th
        %span.subject Deadline due date
        %span.msg-body imus qui blanditiis praesentium voluptatum deleniti atque corrup
  %li
    %span.unread
      %a.msg{:href => "javascript:void(0);"}
        = image_tag 'avatars/sunny.png', alt: '', class: 'air air-top-left margin-top-5', width: '40', height: '40'
        %span.from
          Project approved!
          %i.icon-paperclip
        %time September 14th
        %span.subject Et harum quidem rerum facilis est et expedita distinctio
        %span.msg-body ...
  %li
    %span
      %a.msg{:href => "javascript:void(0);"}
        = image_tag 'avatars/male.png', alt: '', class: 'air air-top-left margin-top-5', width: '40', height: '40'
        %span.from JEFF, me
        %time Friday, September 13th
        %span.subject Bugs fixed!
        %span.msg-body Nam libero tempore, cum soluta nobis est eligendi optio cumque
