#shortcut
  %ul
    %li
      = link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-blue' do
        %span.iconbox
          %i.fa.fa-envelope.fa-4x
          %span
            Mail
            %span.label.pull-right.bg-color-darken 14
    %li
      = link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-orangeDark' do
        %span.iconbox
          %i.fa.fa-calendar.fa-4x
          %span Calendar
    %li
      = link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-purple' do
        %span.iconbox
          %i.fa.fa-map-marker.fa-4x
          %span Maps
    %li
      = link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-blueDark' do
        %span.iconbox
          %i.fa.fa-book.fa-4x
          %span
            Invoice
            %span.label.pull-right.bg-color-darken 99
    %li
      = link_to root_path, class: 'jarvismetro-tile big-cubes bg-color-greenLight' do
        %span.iconbox
          %i.fa.fa-picture-o.fa-4x
          %span Gallery
    %li
      = link_to root_path, class: 'jarvismetro-tile big-cubes selected bg-color-pinkDark' do
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span My Profile
